<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <add key="ServerQueue" value="ken"/>
        <add key="srcSiteId" value="800003"/>
        <!-- LT:100003最大長度為6個char />-->
        <add key="srcSystem" value="026"/>
        <!-- 最大長度為3個char  125.227.182.56 />-->
        <add key="IPAddress" value="10.6.6.46"/>
        <add key="PortNumber" value="7600"/>
        <add key="maxSize" value="200000000"/>
        <add key="maxCount" value="20000000"/>
    </appSettings>
</configuration>
